.card-remove{
   padding: 0;
animation: blipout .3s linear forwards;
}
@keyframes blipout {
   0%{
      transform: scale(1);
   }
   30%{
      transform: scale(0.2);
      height: 1px;
   }
   90%{
      transform: scale(1);
   }
   100%{
      height: 1px;
      transform: scale(0);
   }
}
.summon{
    transform: scale(1.2) !important;
    opacity: 1 !important;
    transition: .4s all;
}
.summon-buttons{
    transform: scale(1.1) !important;
    opacity: 1 !important;
    transition: .4s all;
}
.blur{
    filter: blur(5px);
}
.dispel{
    transform: scale(1.6) !important;
    opacity: 0 !important;
    z-index: 98;
    transition: .2s all;
}
.uncloak{
    opacity: 1 !important;
}
.bubble{
    animation: bubble .7s forwards cubic-bezier(0.0, 0.0, 0.2, 1);
}
@keyframes bubble {
    0%{
        transform: scale(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1.1);
        opacity: 0;
    }
}
