#main-container{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}
        .film-container{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background: round top left;
            border-radius: 4px;
            transform: scale(1);
            width: 12vw; height: 400px;
            min-width: 250px;
            padding: 5px 15px;
            margin: 2vh 1vw;
            text-align: center;
            overflow: hidden;
            transition: .3s all;
        }
        .film-container:hover .film-title{
            transform: translateY(100px);
            opacity: 1;
            transition: .5s all;
        }
        .film-container:hover .caption-container{
            transform: translateY(-100px);
            opacity: 1;
            transition: .5s all;
        }
            .badge{
                position: absolute;
                width: 10px; height: 10px;
                top: 5px; right: 15px;

            }
            .film-title{
                font-family: "Roboto", sans-serif;
                font-weight: 600;
                font-size: 1.7em;
                margin: 15px 0;
                opacity: 0;
                transform: translateY(0);
                transition: .5s all;
            }
            .film-poster{
                position: relative;
                margin: auto;
                width: 80%;
            }
            .caption-container{
                width: 100%;
                transform: translateY(0);
                transition: .5s all;
            }
                    .caption-container p{
                        display: inline;
                    }
            .action-overlay{
                position: absolute;
                width: 100%; height: 100%;
                top: 0; left: 0;
                transform: scale(1);
                background: round top left ;

                opacity: 1;
                z-index: 99;
                transition: .2s all;
            }
            .action-button-container{
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%; height: 100%;
                top: 0; left: 0;
                opacity: 0;
                transform: scale(0.3);
                z-index: 999;
                transition: .2s all;
            }
                    .action-button{
                        position: relative;
                        font-size: 5em !important;
                        transform: scale(1) !important;
                        margin: 0 10px;
                        color: white;
                        transition: .2s all;
                        z-index: 999;
                        transition: .2s all;
                    }
                    .action-button:hover{
                        transform: scale(1.1);
                        transition: .2s all;
                    }
                    .fa-check-circle:hover{
                        color: rgba(0, 255, 0, 0.7);
                    }
                    .fa-times-circle:hover{
                        color: rgba(255, 0, 0, 0.7);
                    }
.viewed{
    color: rgba(0, 255, 0, 0.7);
}
