*{
   outline: none;
   font-family: "Asap", sans-serif;
}

li{
   list-style: none;
   color: white;
}

body{
    background: #111;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    transition: .2s all;
}
#notification-container{
   position: absolute;
   right: -320px;
   margin: 15px 10px 0 0;
   width: 300px; height: 60px;
   border-radius: 4px;
   transition: .5s all;
}
      #notification-text-container{
         position: absolute;
         left: 13px;
         padding: 0 0 0 15px;
         width: 87%; height: 99%;
         overflow: hidden;
      }
            #notification-text{
               position: relative;
               white-space: nowrap;
               text-overflow: ellipsis;
               top: -37px; left: 45px;
               font-family: "Asap", sans-serif;
               color: white;
               font-size: 18px;
            }
            #notification-icon{
               position: relative;
               top: 13px;
               filter: invert(100%);
               width: 35px; height: 35px;
               left: 5px;
            }
.card{
    cursor: pointer;
    box-shadow: 0 15px 10px -10px rgba(0,0,0,0.5);
    background: round top left;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.card:hover{
    box-shadow: 0 8px 8px rgba(0,0,0,0.25), 0 3px 3px rgba(0,0,0,0.22);
}
#result-row{
    position: absolute;
    top: -300px;
    left: 0;
    background: #222;
    width: 100%; height: 300px;
    padding: 0;
    margin-right: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    -webkit-box-shadow: inset 0px -15px 17px -6px rgba(0,0,0,0.35);
    -moz-box-shadow: inset 0px -15px 17px -6px rgba(0,0,0,0.35);
    box-shadow: inset 0px -15px 17px -6px rgba(0,0,0,0.35);
    transition: .2s all;
}
        #loader{
            position: fixed;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 5px solid transparent;
            border-top: 5px solid #EF0000;
            animation: spin 1s linear infinite;
            transition: .5s all;
        }
        @keyframes spin {
            to{
                transform: rotate(360deg);
            }
        }

        .top-film-tile{
          position: relative;
          min-width: 150px;
          width: 10%;
          margin: 0px 1%;
          height: 250px;
          background: round top left ;
          transition: .2s all;
        }
        .overlay{
          position: absolute;
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          top: 0; left: 0;
          width: 100%; height: 100%;
          text-align: center;
          opacity: 0;
          color: #eee;
          font-family: "Josefin Sans", sans-serif;
          font-size: 1.4em;
          background: rgba(0,0,0,0.8);
          transition: .2s all;
          z-index: 999;
        }
                .overlay-title{
                    font-family: "Roboto", sans-serif;
                    font-weight: bold;
                    margin: 15px 0;
                }
                .add-button{
                    color: rgba(255,255,255,0.9);
                    font-size: 68px !important;
                    position: relative;
                    top: -10px;
                    transform: scale(1);
                    transition: .2s all;
                }
                .fa-spinner{
                    animation: spin 1s linear infinite;
                }
                .caption-container{
                    opacity: 1;
                    margin-bottom: 10px;
                }
                        .overlay-director, .overlay-year{
                          display: inline-block;
                        }
            /*.overlay-description{
              font-size: 14px;
              font-family: sans-serif;
            }*/
        .overlay:hover{
          opacity: 1;
          transition: .2s all;
}
