header{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%; height: 10%;
    padding: 10px;
    margin-bottom: 25px;
    cursor: default;
}
         #sortby-container{
            position: absolute;
            display: inline;
            left: 0;
            margin: 10px 0 0 30px;
            color: rgba(255, 255, 255, 0.5);
            font-family: sans-serif;
         }
               #dropdown-container{
                  position: relative;
                  top: 0;
                  left: 65px;
                  overflow: hidden;
                  transition: .3s all;
               }
               .dropdown-toggle{
                  opacity: 1 !important;
                  transform: translateY(-10px) !important;
                  transition: .3s all;
               }
                     ul{
                        position: relative;
                        opacity: 0;
                        transform: translateY(-80px);
                        border-left: 1px solid rgba(255,255,255,0.5);
                        transition: .5s all;
                     }
                     li{
                        position: relative;
                        left: -30px;
                        color: rgba(255, 255, 255, 0.7);
                        cursor: pointer;
                        transition: .15s all;
                     }
                     li:hover{
                        opacity: 0.7;
                     }
               #sortby{
                  display: inline;
                  cursor: pointer;
               }
               #sortby-type{
                  display: inline;
                  font-weight: bold;
                  cursor: pointer;
               }
               #sortby-dropdown{
                        width: 95px;
                     }
                           .sortby-dropdown-item{
                              position: relative;
                              left: -30px;
                              color: rgba(255, 255, 255, 0.7);
                              cursor: pointer;
                              transition: .15s all;
                           }
                           .sortby-dropdown-item::before{
                              content: '';
                              display: block;
                              position: absolute;
                              background: rgba(255, 255, 255, 1);
                              left: 0;
                              top: 0;
                              width:0%;
                              height: 100%;
                              margin: 0;
                              padding: 0;
                              transition: .5s all;
                              z-index: -1;
                           }
                           .sortby-dropdown-item.active::before{
                              width:100%;
                          }
               #arrow-container{
                  display: inline-block;
                  width: 20px;
                  height: 20px;
                  position: relative;
                  top: 5px;
                  left: -5px;
                  padding: 0 0 0 10px;
                  cursor: pointer;
                }
                     .arrow-leg{
                        display: inline-block;
                        position: relative;
                        top: -10px;
                        width: 10px;
                        height: 0;
                        border-top: 1px solid rgba(255,255,255,0.5);
                        transition: .3s all;
                     }
                     #left-arrow-leg{
                        position: relative;
                        transform: rotate(45deg);
                        left: 3px;
                     }
                     #right-arrow-leg{
                        transform: rotate(-45deg);
                     }
                     .arrow-toggle{
                        left: 0 !important;
                        transform: rotate(0) !important;
                     }
        #search-container{
            position: relative;
            top: 25px;
        }
            #search-field{
                position: relative;
                background: none;
                border: none;
                border-bottom: 1px solid rgba(150,0,0,0.5);
                padding-bottom: 5px;
                color: rgba(255, 255, 255, 0.5);
                font-family: "Roboto", sans-serif;
                font-size: 1.5em;
                z-index: 999;
            }
            #search-button{
                position: absolute;
                display: inline;
                background-color: rgba(150,0,0,0.7);
                font-family: "Roboto", sans-serif;
                border-radius: 4px;
                right: 0; top: -5px;
                padding: 0 6px;
                color: rgba(255,255,255,0.7);
                font-size: 16px;
                cursor: pointer;
                transition: .2s all;
                overflow: hidden;
                z-index: 999;
            }
                    #search-button-bubble{
                        display: block;
                        position: absolute;
                        margin: auto;
                        width: 125px; height: 125px;
                        border-radius: 50%;
                        top: -50px; right: -13px;
                        transform: scale(0);
                        opacity: 0;
                        background-color: rgba(150,40,40,1);
                        transition: .4s all;
                        z-index: 99;
                    }
                    #search-button-label{
                        position: relative;
                        margin: 0;
                        padding: 5px 5px;
                        background-color: rgba(150,0,0,1);
                    }
                            #search-button-label-text{
                                position: relative;
                                z-index: 999;
                            }
