#search-field-label{
   position: relative;
   top: -45px;
   margin-left: 5px;
   color: rgba(255, 255, 255, 0.5);
   font-family: "Asap", sans-serif;
   font-size: 1em;
   z-index: 99;
   transition: .2s all;
}
.expand::before, .expand::after{
   width: 50% !important;
}
#search-field:focus ~ #search-field-bar::before, #search-field:focus ~ #search-field-bar::after{
   width: 50%;
}
#search-field:focus ~ #search-field-label{
   top: -70px;
   margin-left: 0px;
   font-size: 0.7em;
   transition: .2s all;
}
.search-field-filled{
   top: -70px !important;
   margin-left: 0 !important;
   font-size: 0.7em !important;
}
.bar{
   position: relative;
   width: 100%;
   display: block;
   margin: 0 0 15px 0;
}
.bar::before, .bar::after{
   content: '';
   height: 3px;
   width:0;
   bottom: -1px;
   position: absolute;
   background-color: rgba(150,0,0,0.7);
   transition: .2s all ease;
}
.bar::before{
   left: 50%;
}
.bar::after{
   right: 50%;
}
